<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hero.repository.PermissionMapper" >
  <resultMap id="BaseResultMap" type="com.hero.entity.Permission" >
    <id column="per_id" property="perId" jdbcType="INTEGER" />
    <result column="per_value" property="perValue" jdbcType="VARCHAR" />
    <result column="per_moule" property="perMoule" jdbcType="VARCHAR" />
    <result column="per_name" property="perName" jdbcType="VARCHAR" />
    <result column="per_createtime" property="perCreatetime" jdbcType="TIMESTAMP" />
    <result column="per_updatetime" property="perUpdatetime" jdbcType="TIMESTAMP" />
    <result column="per_remark" property="perRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    per_id, per_value, per_moule, per_name, per_createtime, per_updatetime, per_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from i_permission
    where per_id = #{perId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from i_permission
    where per_id = #{perId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hero.entity.Permission" >
    insert into i_permission (per_id, per_value, per_moule, 
      per_name, per_createtime, per_updatetime, 
      per_remark)
    values (#{perId,jdbcType=INTEGER}, #{perValue,jdbcType=VARCHAR}, #{perMoule,jdbcType=VARCHAR}, 
      #{perName,jdbcType=VARCHAR}, #{perCreatetime,jdbcType=TIMESTAMP}, #{perUpdatetime,jdbcType=TIMESTAMP}, 
      #{perRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hero.entity.Permission" >
    insert into i_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="perId != null" >
        per_id,
      </if>
      <if test="perValue != null" >
        per_value,
      </if>
      <if test="perMoule != null" >
        per_moule,
      </if>
      <if test="perName != null" >
        per_name,
      </if>
      <if test="perCreatetime != null" >
        per_createtime,
      </if>
      <if test="perUpdatetime != null" >
        per_updatetime,
      </if>
      <if test="perRemark != null" >
        per_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="perId != null" >
        #{perId,jdbcType=INTEGER},
      </if>
      <if test="perValue != null" >
        #{perValue,jdbcType=VARCHAR},
      </if>
      <if test="perMoule != null" >
        #{perMoule,jdbcType=VARCHAR},
      </if>
      <if test="perName != null" >
        #{perName,jdbcType=VARCHAR},
      </if>
      <if test="perCreatetime != null" >
        #{perCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="perUpdatetime != null" >
        #{perUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="perRemark != null" >
        #{perRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hero.entity.Permission" >
    update i_permission
    <set >
      <if test="perValue != null" >
        per_value = #{perValue,jdbcType=VARCHAR},
      </if>
      <if test="perMoule != null" >
        per_moule = #{perMoule,jdbcType=VARCHAR},
      </if>
      <if test="perName != null" >
        per_name = #{perName,jdbcType=VARCHAR},
      </if>
      <if test="perCreatetime != null" >
        per_createtime = #{perCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="perUpdatetime != null" >
        per_updatetime = #{perUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="perRemark != null" >
        per_remark = #{perRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where per_id = #{perId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hero.entity.Permission" >
    update i_permission
    set per_value = #{perValue,jdbcType=VARCHAR},
      per_moule = #{perMoule,jdbcType=VARCHAR},
      per_name = #{perName,jdbcType=VARCHAR},
      per_createtime = #{perCreatetime,jdbcType=TIMESTAMP},
      per_updatetime = #{perUpdatetime,jdbcType=TIMESTAMP},
      per_remark = #{perRemark,jdbcType=VARCHAR}
    where per_id = #{perId,jdbcType=INTEGER}
  </update>
</mapper>